*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #261B27;
}
.logo{
    margin-top: -90px;
}
.container{
    width: 90vw;
    margin: auto;
    display: flex;
    background-color: #02044A;
    flex-wrap: wrap;
    margin-top: -100px;
    height: fit-content;
    place-content: center;
}
.first{
    width: 63%;
    padding: 20px;
}
.text{
    color: white;
    text-align: center;
    font-weight: 20;

}
.call{
   width: fit-content;
   margin: auto;
   padding: 5px;
   color: white;
}
.call:hover{
    border: 2px solid #0C75FF;;
    border-radius: 6px;
}
.email{
    width: fit-content;
    margin: auto;
    padding: 5px;
    color: white;
}
.email:hover{
    border: 2px solid #0C75FF;
    border-radius: 6px;
}
.map{
    width: fit-content;
    margin: auto;
    padding: 5px;
    color: white;
}
.map:hover{
    border: 2px solid #0C75FF;
    border-radius: 6px;
}
.sub-text{
    text-align: center;
    color: white;
    opacity: 0.5;
}
.social-media{
    display: flex;
    justify-content:space-evenly;
}
.social-media img{
    cursor: pointer;
}

.contact-form{
    width: fit-content;
    margin: auto;
    background-color: white;
    border-radius: 2%;
    padding: 30px;
    padding-bottom: 80px;
}
.contact-form label{
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 600;
 font-variant: normal;
}
.contact-form input{
width: 300px;
height: 30px;
border-color: #0C75FF;
border-radius: 6px;
}
.contact-form input:focus{
   outline-color: #0C75FF;
}
.f-name{
   
    width: fit-content;
    margin: auto;
    padding-top: 20px;
}
.f-mail{
    width: fit-content;
    margin: auto;
}
.f-message{
    width: fit-content;
    margin: auto;
}
.btn{
    width: fit-content;
    margin: auto;
}
.btn input{
    width: 120px;
    height: 40px;
    margin-left: 180px;
    background-color: #0C75FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cross{
  background-color: #FBCE08;
  padding: 2px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 300px;
  cursor: pointer;
}

@media only screen and (max-width: 600px){
    .container{
        padding-bottom: 10px;
    }
    .first{
        visibility:collapse;
    }
    .contact-form{
        margin-top: -400px;
    }
}
