*{
    margin: 0%;
    padding: 0%;
  
}
body{
    background-color: #261B27;
}
.card-title{
    border-bottom: 1px solid gray;
}
.contact-container input{
    width: 300px;
    border: none;
    height: 35px;
    outline: none;
    border-radius: 4px;
    border: 1px solid brown;
    color: brown;
    padding-left: 5px;
    font-weight: bold;

}
.contact-container input:focus{
    outline: none;
    border: 2px solid purple;
}
.contact-container placeholder{
    color: brown;
    font-weight: bold;
}
.contact-container{
    width: fit-content;
    margin: auto;
    border-radius: 5%;
    margin-bottom: 2vh;
    padding: 2vh;
    margin-top: 2vh;
}
.contact-btn{
    width: fit-content;
    margin: auto;
    margin-top: 4px;
}
.card-t{
    color: white;
    opacity: 0.8;
    font-weight: bold;
}
.card-text{
    color: black;
    font-weight: bold;
}
.card-title{
    color: black;
    font-weight: bolder;
    
}