*{
    margin: 0%;
    padding: 0%;
  
}
body{
    background-color: #261B27;
}
.card-title{
    border-bottom: 1px solid gray;
}
.contact-container input{
    width: 300px;
    border: none;
    height: 35px;
    /* border: 5px solid red ; */
    border-radius: 4%;
    border: 3px solid gray;
    /* border: 2px solid #0C75FF; */
}
.contact-container input:focus{
    outline: none;
    border: 2px solid purple;
}
.contact-container{
    width: fit-content;
    margin: auto;
    border-radius: 5%;
    margin-bottom: 2vh;
    padding: 2vh;
    margin-top: 2vh;
}
.contact-btn{
    width: fit-content;
    margin: auto;
    margin-top: 4px;
}